@font-face {
    font-family:'lintsec'; /* Elige un nombre para tu fuente */
    src: url(fonts/lintsec_.ttf); /* Ruta a tu archivo de fuente en la carpeta de fuentes */
    font-family: '20db';
    src: url(fonts/20db.otf);
}
h3{
    font-family: '20db', Tahoma, Geneva, Verdana, sans-serif;
}
.navTitulo {
    font-family: 'lintsec', Courier, monospace;
}